@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background-color: #f5f5f5;
    line-height: 1.6;
    font-size: 18px;
    margin-top: 5rem;
}

h1{
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 30px;
    color: #000000;
    text-shadow: #f5f5f5;
}

h2{
    margin-top: 20px;
    font-size: 25px;
    color: #000000;
    text-shadow: #f5f5f5;

}

.wrapper{
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 #000000;
}

.input-box{
    margin-top:-20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined{
    cursor: pointer;
    font-size: 26px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.gen-button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    text-shadow: #f5f5f5;
}

.gen-button:hover{
    background-color: #0b0bf2;
    color: #ffffff;
    transition: 0.35s;
}

.pass-slider{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pass-options{
    margin-top: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}